<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    </head>
    <body>
        {# Google Plus sign in #}
        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email profile"
                data-clientid="870763511066-vro9k71bo250ertvcumeokil0gfv8a0m.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force"
                >
            </span>
        </div>
        <div id="result"></div>
        <script>
            function signInCallback(authResult) {
                // If includes 'code' parameter, indicates successful.
                // Authorization w/ google API was successful, one time use code is present.
                if (authResult['code']) {
                    // hides button
                    $('#signinButton').attr('style', 'display: none');
                    // Send the one-tiem-use code to the server.
                    // If the server responds, write a 'login successful' message
                    // to the web page, and then redirect back to the main
                    // restaurants page.
                    $.ajax({
                        type: 'POST',
                        url:'/gconnect?state={{STATE}}', // Pass state token as argument, verify against forgery attack.
                        processData: false, // don't want jQuery to process results into string.
                        contentType: 'application/octet-stream; charset=utf-8', // sending arbitrary binary string of data.
                        data: authResult['code'], // sending the one-time-user code.
                        success: function(result) {
                            if (result) {
                                // pass info upon success, 4 second wait.
                                $('#result').html('Login Successful! <br>' + result + '<br>Redirecting...')
                                setTimeout(function(){
                                    window.location.href="{{url_for('main_page')}}";
                                }, 4000);
                            } else if (authResult['error']) {
                                console.log('There was an error: ' + authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server call.  Check your configuration and console.');
                            }
                        }
                    })
                }
            }
        </script>
        {# End google sign in #}

        {# FB signin #}
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '1195480740473485',
                    cookie: true,
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.4'
                });
            };

            // Load SDK asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function sendTokenToServer(){
                // retrieves the temp access token
                var access_token = FB.getAuthResponse()['accessToken'];
                console.log(access_token);
                console.log('Welcome! Fetching your information...');
                // Using FB sdk to make API calls.
                FB.api('/me', function(response){
                    console.log('Successful login for: ' + response.name);
                    // Sends access token to server via Ajax along with state value.
                    $.ajax({
                        type: 'POST',
                        url: '/fbconnect?state={{STATE}}',
                        processData: false,
                        data: access_token,
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            // Handle or verify server response if necessary
                            if (result) {
                                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                                setTimeout(function(){
                                    window.location.href = "{{url_for('main_page')}}";
                                }, 4000);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }
                    });
                });
            }
        </script>
        <button>
            {# Using FB sdk to create the login button #}
            {# scope is limited to public_profile and email info. #}
            <fb:login-button scope="public_profile, email" onlogin="sendTokenToServer();">
                <a href="javascript:sendTokenToServer()">Login with Facebook</a>
            </fb:login-button>
        </button>
        {# End FB sign in #}
    </body>
</html>